<!doctype html>
<html lang="en" ng-app="LunchCheck">

<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }

        /*
            Angular CSS classes to prevent flicker of unprocessed HTML
            See: https://docs.angularjs.org/api/ng/directive/ngCloak
        */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

    </style>

</head>

<body ng-cloak>
    <div class="container" ng-controller="LunchCheckController">
        <h1>Lunch Checker</h1>

        <div class="form-group"
            ng-class="{'has-error': hasError, 'has-success': hasSuccess}">
            <input id="lunch-menu" type="text" placeholder="list comma separated dishes you usually have for lunch" class="form-control"
                ng-model="lunchItems">
            <span class="text-muted">Empty items (i.e. ', ,') do not count towards total items.</span>

        </div>
        <div class="form-group">
            <button class="btn btn-default"
                ng-click="checkLunch()"
            >Check If Too Much</button>
        </div>
        <div class="form-group message"
            ng-class="{'text-danger': hasError, 'text-success': hasSuccess}">
            {{ message }}
        </div>
    </div>

    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>

</body>

</html>